<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <img src="/img/sofka.jpg" style="text-align: center; border-radius: 9px;" alt="">
    <h1 class="send" style="text-align: center;">HISTÓRICO DE USUARIOS PARTICIPANTES</h1>
    <table>
        <thead>
            <th>JUGADORES REGISTRADOS</th>
            <th>TOTAL PARTIDAS GANADAS</th>
            <th>TOTAL PARTIDAS RETIRADAS</th>
            <th>TOTAL PARTIDAS PERDIDAS</th>
        </thead>
        <tbody>
            <%jugadores.forEach( jugador =>{%>
                    <tr>
                        <td><%=jugador.getNombreUsuario()%></td>
                        <td><%=jugador.getGanadas()%></td>  
                        <td><%=jugador.getRetiradas()%></td>  
                        <td><%=jugador.getPerdidas()%></td>   
                    </tr> 
            <%})%>

        </tbody>
    </table>
    <br>
    <a href="/" ><button class="send" style="margin: 0px 45%;">VOLVER AL MENU PRINCIPAL</button></a>
</body>
</html>