<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <section class="caja-inicio">
        <img src="/img/sofka.jpg" alt="">
        <h1>BIENVENIDO A LA TRIVIA SOFKA U</h1>
        <h4>Regístrese en nuestra plataforma y participe de nuestro juego para llevarse premios en efectivo</h4>
        <h4>Para ganar nuestro juego deberá responder 5 rondas con preguntas de selección multiple que van incrementando su dificultad conforme avanza en el juego, además las preguntas se seleccionan al azar de nuestras 5 categorías : Ciencias, Literatura, Matemáticas, Deportes y Geografía e Historia</h4>
        <form action="/ingresar" method="POST">
            <div> 
                <br>
                <label for="user">Escriba nombre de usuario</label>
                <br>
                <input type="text" placeholder="Usuario" name="user" required="true">
            </div>
            <br>
            <div>      
                <input type="submit" class="send" value="COMENZAR EL JUEGO">
            </div>
    
        </form>  
    </section>
    
</body>
</html>